<div class="profile">
    <div class="profile-header">

      <img src="assets\images\fotoPerfil.jpg" alt="Foto de perfil">

      <div class="profile-info">
        <h2>Carlos Alberto Mazzo</h2>
        <p>Analista de datos - Trabajo en la empresa KUNAN utilizando Power By y más herramientas - Actualmente estoy cursando la carrera de Administración de empresas en la universidad.

        </p>
      </div>

    </div>

    <div class="profile-stats">
        
        <div class="stat">
            <div class="stat-value">6</div>
            <div class="stat-label">Años de experiencia</div>
        </div>

        <div class="stat">
            <div class="stat-value">80+</div>
            <div class="stat-label">Trabajos realizados</div>
        </div>

        <div class="stat">
            <div class="stat-value">100+</div>
            <div class="stat-label">Clientes satisfechos</div>
        </div>
    </div>

  </div>
