@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
* {

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background: #2874A6;
  padding: 30px 0px;
  z-index: 5;
}

.sidebar {
  /* Establece la posición inicial del navbar */
  position: fixed;
  transform: translateX(0);
  transition: transform 0.18s ease-out;
}

.sidebar.hidden {
  /* Desplaza el navbar fuera de la pantalla */
  transform: translateX(-100%);
}

.content {
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.move-left {
  transform: translateX(-160px);
}

.menu {
  position: fixed;
  top: 5px;
  left: 195px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #5DADE2;
  text-align: left;
  margin-left: 10px;
  z-index: 6;
  transition: all 0.2s ease;
}

.sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul{
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.2s ease;
}

.sidebar ul li a {
  color: #fff;
  display: block;
  padding: 15px;
}

.sidebar ul li:hover {
  background-color: #2E86C1;
}

.sidebar ul li:hover a {
  color: #fff;
}

.logout {
  text-align: center;
  margin-top: 150px;
}

.logout button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background: #2E86C1;
  line-height: 45px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s ease;
  z-index: 999;
}

.logout button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logout a {
  color: #fff;
  margin: 40px;
}

.main_content {
  margin: 0;
  padding: 0;
  margin-left: 150px;
  transition: all 0.2s ease;
}

.header {
  text-align: center;
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.info {
  text-align: center;
  color: #717171;
  transition: all 0.2s ease;
}

.info div {
  margin-bottom: 20px;
}
