<div class="wrapper" [ngClass]="{'collapsed': !navbarVisible}">
    <div [class.hidden]="!navbarVisible" class="sidebar">
        <h2>My Portfolio</h2>
        <ul>
            <li><a href="#"><i class="fas fa-user"></i> Perfil</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i> Sobre mí</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i> Portfolio</a></li>
            <li><a href="#"><i class="fas fa-square-poll-vertical"></i> Power By</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i> Contáctame</a></li>
        </ul> 
        <div class="logout">
            <button> <a href="#">Iniciar sesión</a></button>
        </div>
    </div>
    <div class="main_content" [ngStyle]="{ 'flex': contentFlex}">

        <button class="menu" (click)="toggleNavbar()"><i class=" fa-solid fa-compass fa-2x"></i></button>
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
        </div>

    </div>

</div>
